<div class="card xl">
    <div class="titles-row">
        <h1>Listado facturas</h1>
        <button routerLink="/crear-factura">Añadir nueva</button>
    </div>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Base Imponible</th>
        </tr>
        <tr *ngIf="loading">
            <td>Cargando facturas...</td>
        </tr>
        <tr *ngFor="let factura of facturas">
            <td *ngIf="!loading">{{factura.cliente}}</td>
            <td *ngIf="!loading">{{factura.fecha}}</td>
            <td *ngIf="!loading">{{factura.baseImponible}}</td>
            <td>
                <button routerLink="/editar-factura/{{factura._id}}">Editar</button>
            </td>
            <td>
                <button (click)="deleteFactura(factura._id)">Eliminar</button>
            </td><!-- No hacer sin modal de confirmación-->
        </tr>
    </table>
</div>